<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <p>
                    Search:
                    <input ng-model="$ctrl.query">
                </p>

                <p>
                    Sort by:
                    <select ng-model="$ctrl.orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="age">Newest</option>
                    </select>
                </p>

            </div>
            <div class="col-md-10">
                <!--Body content-->

                <ul class="projects">
                    <li ng-repeat="project in $ctrl.projects | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
                        <a href="#!/local-data/{{project.id}}" class="thumb">
                            <img ng-src="{{project.imageUrl}}" alt="{{project.name}}" />
                        </a>
                        <a href="#!/local-data/{{project.id}}">{{project.name}}</a>
                        <p>{{project.snippet}}</p>
                        <p>Age: {{project.age}}</p>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>


</body>
</html>